/* Altera o fundo do tema Material para o gradiente azul-celeste sutil */
[data-md-color-scheme="default"] {
  --md-typeset-color: #2D3238;
  --md-background-color: #F0F4F9;
}

[data-md-color-scheme="default"] .md-main {
  background: linear-gradient(180deg, #E2EEF9 0%, #F0F4F9 100%) !important;
  background-attachment: fixed;
}

/* Deixa a barra do topo branca e minimalista */
[data-md-color-scheme="default"] .md-header {
  background-color: #FFFFFF !important;
  color: #2D3238 !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04) !important;
}

[data-md-color-scheme="default"] .md-header__title, 
[data-md-color-scheme="default"] .md-tabs__link {
  color: #2D3238 !important;
}
